ROOT_FILE_PATH=/var/lib/setmeld/data
PORT=3000
BASE_URL=http://localhost:3000/
SOCKET=
LOGGING_LEVEL=info
CONFIG=@css:config/default.json
SPARQL_ENDPOINT=
SHOW_STACK_TRACE=false
POD_CONFIG_JSON=./pod-config.json
SEED_CONFIG=
MAIN_MODULE_PATH=
WORKERS=1

GIT_PORT=2222
NODE_EXTRA_ARGS=
