[Unit]
Description=SetMeld Pod - CSS (Node)
After=network.target
Wants=setmeld-pod.target

[Service]
User=setmeld
Group=setmeld
EnvironmentFile=/etc/setmeld-pod/config.env
WorkingDirectory=/usr/lib/setmeld-pod
ExecStart=/usr/bin/node ./node_modules/@solid/community-server/bin/server.js \
  -c ${CONFIG} -m ${MAIN_MODULE_PATH:-./} -f ${ROOT_FILE_PATH} \
  --port ${PORT} --baseUrl ${BASE_URL} \
  $([ -n "${SOCKET}" ] && echo --socket ${SOCKET}) \
  --loggingLevel ${LOGGING_LEVEL} \
  $([ -n "${SPARQL_ENDPOINT}" ] && echo --sparqlEndpoint ${SPARQL_ENDPOINT}) \
  $([ "${SHOW_STACK_TRACE}" = "true" ] && echo --showStackTrace) \
  --podConfigJson ${POD_CONFIG_JSON} \
  $([ -n "${SEED_CONFIG}" ] && echo --seedConfig ${SEED_CONFIG}) \
  --workers ${WORKERS} \
  ${NODE_EXTRA_ARGS}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=setmeld-pod.target
